<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
  <a class="navbar-brand" href="#">Simple Airbnb</a>
  <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Search</button>
      <%= link_to 'Add flat', new_flat_path, :class => "btn btn-outline-primary" %>
    </form>
  </div>
</nav>

<div class="container mt-3">
  <div class="row">
    <div class="d-flex">
      <div class="col-12 col-md-8">
        <div class="bg-light p-3 mb-3">
          <h1><%= @flat.name %></h1>
          <p><%= @flat.address %></p>
        </div>
        <div class="bg-light p-3">
          <p>A bit more about this flat...</p>
          <p><%= @flat.description %></p>
        </div>
      </div>
      <div class="col-6 col-md-4">

        <div class="mb-3 bg-light p-3">
          <p>Book this place!</p>
          <form>
            <div class="form-group">
              <input type="date" class="form-control" placeholder="From">
            </div>
            <div class="form-group">
              <input type="date" class="form-control" placeholder="To">
            </div>
            <button type="submit" class="btn btn-primary w-100">Book</button>
          </form>
        </div>

        <div class="mb-3 bg-light p-3">
          <p>Details</p>
          <div class="d-flex">
            <p><i class="fas fa-user-friends mr-1"></i><%= @flat.price_per_night %></p>
            <p><i class="fas fa-euro-sign ml-3 mr-1"></i><%= @flat.number_of_guests %></p>
          </div>
        </div>

        <div class="d-flex bg-light p-3 justify-content-between">
          <p>Share</p>
          <div>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-pinterest-square"></i>
            <i class="fas fa-envelope-square"></i>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
